body {
	background-color: #f2f2f2;
	padding: 10px;
}
/*slider styles*/
.first-slider {
	height:400px;
	background: lightgray;

}

/*3 pic section styles*/
.three-pic-first img,
.three-pic-second img
{	
 	height: auto;
	max-width: 100%;
}

/*oblacila adidas originals styles*/
.adidas-originals img {
	height: auto;
	max-width: 100%;
}

/*znamke styles*/
.znamke img {
	height: auto;
	object-fit: fill;
	max-width: 100%;
}

/*Video section styles*/

.vid-pred iframe {
	padding: 0;
	border: none;
}

.naslov-vid {
	width: 100%;
	color: #fff;
	background-color: #000;
	padding: 10px 0 10px 10px;
	font-weight: 700;
}

.slika-cevelj img {  /*preveri še*/
	width: 100%;
}

/*big modeli pics styles*/

.sirina-90 {
	width: 95%;
}

.sirina-10 {
	width: 10%;
}




/*e-novice stlyes*/

.e-novice {
	max-height: 160px;
	background-color: #eec700;
}

.e-naslov {
	font-weight: 700;
	padding-left: 20px;
}

.e-input {
	width: 50%;
	padding-left: 10px;
	border-radius: 5px;
	color:#f2f2f2;
	border:none;
}

.e-button {
	background-color: #000;
	width: 30%;
	height: 38px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;

}






/*Footer styles*/
footer {
	max-height: 600px;
	min-height: 300px;
	background-color: #000;
	color:#fff;
	padding-top: 30px;
}

footer ul {
	list-style-type: none;
}

footer ul li{
	line-height: 35px;
}

footer ul span {
	border-bottom: 1px solid #eec700;
	font-weight: 700;
	font-size: 1.5rem;	
}

footer a {
	
	color: inherit;

}

footer a:hover {
	text-decoration: none;
	color: #eec700
}