body {
	background-color: #f2f2f2;
}
/*slider styles*/
.first-slider {
	height:400px;
	background: lightgray;

}

/*3 pic section styles*/
.three-pic-first img,
.three-pic-second img
{	
 	height: 365px;
	object-fit: fill;
	width: 100%;
}

/*oblacila adidas originals styles*/
.adidas-originals img {
	object-fit: fill;
	height: 450px;
	width: 100%;
}

/*znamke styles*/
.znamke img {
	 height: 65px;
	object-fit: fill;
	width: 100%;
}

.vid-pred iframe {
	padding: 0;
	border: none;
}




footer {
	height: 500px;
}