body {
	background-color: #f2f2f2;
	padding: 10px;
}
/*slider styles*/

/*before nav styles*/

.before-nav {
	font-size: 15px;
	font-family: 'Teko', sans-serif;
	text-align: center;

}

/*3 pic section styles*/
.three-pic-first img,
.three-pic-second img
{	
 	height: auto;
	max-width: 100%;
}

/*oblacila adidas originals styles*/
.adidas-originals img {
	height: auto;
	max-width: 100%;
}

/*znamke styles*/
.znamke img {
	height: auto;
	object-fit: fill;
	max-width: 100%;
}

/*Video section styles*/

.vid-pred iframe {
	padding: 0;
	border: none;
}

.naslov-vid {
	width: 100%;
	color: #fff;
	background-color: #000;
	padding: 10px 0 10px 10px;
	font-weight: 700;
}

.title-video {
	width: 100%;
	background-color: #eec700;
	padding: 5px;
}

.title-video h3 {
	font-size: 1.2rem;
}

.price {
	display: inline-block;
}
.belo-ozadnje {
	background-color: #fff;
}

.belo-ozadnje a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	padding: 10px;
	font-size: 1.5rem;
}

.slika-cevelj img {  /*preveri še*/
	width: 100%;
}

/*Ženski in moški modeli big styles*/

.title-moski-modeli,
.title-zenski-modeli {
	position: relative;
	text-align: center;
	background-color: #000;
	color: white;
}
.yellow-arrow {
	position: absolute;
	right: 0;
	top:0;
	width:50px;
	height: 50px;
}

.title-moski-modeli h2,
.title-zenski-modeli h2 {
	margin-bottom: 0;
	padding: 6px;
}

/*Obišči nas v styles + e-novice stlyes */

.obisci-nas-backg {
	background-color: #eec700;
	height: 60px;
}

.sledi-nam h3,
.sneakers-blog h3 {
	border-top: 1px solid black;
	font-weight: 600;
	font-size: 2.3rem;
}

.sledi-nam img {
	height: 80px;
	width: 80px;
}

.button-read {
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	padding: 15px;
	border-radius: 5px;
}
.button-read a {
	text-decoration: none;
	color: #fff;
}
.button-read a:hover {
	text-decoration: none;
	color: #eec700;
}


.e-novice {
	max-height: 160px;
	background-color: #eec700;
}

.e-naslov,
.obisci-nas-backg h2 {
	font-weight: 700;
	padding-left: 20px;
	font-family: 'Teko', sans-serif;
}

.e-input {
	width: 50%;
	padding-left: 10px;
	border-radius: 5px;
	color:#f2f2f2;
	border:none;
}

.e-button {
	background-color: #000;
	width: 30%;
	height: 38px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;

}






/*Footer styles*/
footer {
	max-height: 600px;
	min-height: 300px;
	background-color: #000;
	color:#fff;
	padding-top: 30px;
}

footer ul {
	list-style-type: none;
}

footer ul li{
	line-height: 35px;
}

footer ul span {
	border-bottom: 1px solid #eec700;
	font-weight: 700;
	font-size: 1.5rem;	
}

footer a {
	
	color: inherit;

}

footer a:hover {
	text-decoration: none;
	color: #eec700
}